<!DOCTYPE HTML>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="http://erp.macromaq.com.br:3000/css/estilo.css">
    <link rel="icon" type="imagem/png" href="http://erp.macromaq.com.br:3000/img/logmacropeq.png"/>
    <title>Painel Fretes</title>
</head>
<body>
    {{{body}}}
    <script type="module" src="http://erp.macromaq.com.br:3000/js/dev.js"></script>
</body>
</html>